

header{
    font-size: 3rem;
    font-family:'Varela Round', sans-serif;
    padding-left:0.2%;

    background-color:hsla(219, 95%, 45%, 0.404);
    color:black;
    padding-top:2%;
   
    padding-bottom:3px;
    margin-bottom: 5%;


    
}
button{
    text-decoration: none;
    color:white;

}
li
{    margin-left: 20px;
     float:right;
     list-style: none;
     font-size: 30px;
     margin-top:0px;

}
img{
  
    width:50px;
    height:45px;
 }
 body{
     background-image: url(../img/email-pattern.png);
 }
 
a{
    margin-left:10px;
    margin-right:10px;
}
.list{
    font-size:1.2rem;
    color:white;
    margin-right:5px;
    margin-top:50px;
    

}
.list a{
    text-decoration: none;
    color:white;
}

.name{
    font-size:1.2rem;
    color:white;
    margin-right:5px;
    margin-top:50px;
    

}