{%load static%}



<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Contacts</title>
   <link href="{% static 'css/signup.css' %}" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Varela+Round|Work+Sans&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   
</head>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<body>
  
   
   <header>
      <img src="https://image.flaticon.com/icons/png/512/74/74472.png">  CONTACTS
   </header>
   <div class="SignUp">
      SignUp
   </div>
   <form  method="post" novalidate>
      {% csrf_token %}
     {% include 'includes/form.html' %}
      <div class="container">
      <button type="submit">Register</button><br>
      </div>
      <div class="psw">Have an account?<a href="{%url 'login' %}">Login</a></div>
    </form>

</body>
</html>